body {
  margin: 0;
  background-color: #eaeaea;
  font-size: 10px;
  font-weight: bold;
}

.App {
  text-align: center;
}

.appHeader {
  font-size: 2rem;
  background-color: #8b0000;
  color: white;
  padding: 20px;
}

main {
  display: flex;
  justify-content: space-evenly;
}

.resultsContainer {
  width: 100%;
  margin: 40px;
  background-color: #4fab80;
  padding: 30px;
  border-radius: 30px;
}

.title {
  color: #fff;
}

ul {
  width: 100%;
  /* margin: 0 20%; */
  padding: 0px;
  max-height: 70vh;
  overflow-y: scroll;
}

.standings {
  align-items: center;
  padding: 10px 30px 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  list-style-type: none;
  margin: 10px;
  font-size: 1.5em;
}
